extends layout 

block content
    .article-list
        //- Si un utilisateur est connecté
        if user
            //- Lister ses propres articles
            h2 Les articles que vous avez publié (!{user_articles.length})
            .articles 
                each a in user_articles 
                    .article(id=a.id)
                        include includes/article_info
                else 
                    span Aucun article à afficher
            if(user_articles_unpublished.length > 0)
                h2 Vos articles non publiés (!{user_articles_unpublished.length})
                .articles 
                    each a in user_articles_unpublished 
                        .article(id=a.id)
                            include includes/article_info
            //- Lister les articles des personnes qu'il suit
            
            h2 Votre communauté (!{community_articles.length})
            .articles 
                each a in community_articles 
                    include includes/article_info
                else 
                    span Aucun article à afficher
        //- Lister les tous les articles
        h2 Eager parrot vous propose (!{all_articles.length})
        .articles 
                each a in all_articles 
                    .article(id="article"+a.id)
                        include includes/article_info
                else 
                    span Aucun article à afficher
