extends layout 

block content 
    .signup 
        form(action="/user/signup" method="post")
            h2 Inscription
            .input-field 
                input(type="text" name="firstname" placeholder="Votre prénom ..." value=badData ? badData.firstname : '')
                span= errors ? errors.firstname : ''
            .input-field 
                input(type="text" name="lastname" placeholder="Votre nom ..." value=badData ? badData.lastname : '')                
                span= errors ? errors.lastname : ''
            .input-field 
                input(type="email" name="email" placeholder="Votre email ..." value=badData ? badData.email : '')
                span= errors ? errors.email : ''
            .input-field 
                input(type="text" name="username" placeholder="Nom d'utilisateur ..." value=badData ? badData.username : '')
                span= errors ? errors.username : ''
            .input-field 
                input(type="password" name="password1" placeholder="Mot de passe ..." value=badData ? badData.password1 : '')
                span= errors ? errors.password1 : ''
            .input-field 
                input(type="password" name="password2" placeholder="Confirmez le mot de passe ..." value=badData ? badData.password2 : '')
                span= errors ? errors.password2 : ''
            .input-field 
                input(type="submit" value="SignUp")
            div 
                p Vous avez déjà un compte ? #[a(href="/user/signin") Connectez-vous !]
                